body {
    font-family: sans-serif;/* Sets the font style for the entire page */
    text-align: center;/* Centers text alignment for all elements inside body */
    background-color: #28344d;
}

div {
    border-radius: 8px;/* Rounds the corners of the divs */
    border:4px solid rgb(173, 234, 255);/* Adds a solid border with a light blue color */
    padding: 30px;/* Adds padding inside the divs */
    background-color: azure;/* Sets the background color of the divs */
  }
  
  body {
    margin: 100px auto;/* Centers the content vertically and horizontally */
    width: max-content;/* Ensures the width fits its content */
  }

.image-container {
    margin: 20px;/* Adds space around each image container */
    display: inline-block;/* Makes containers align horizontally while respecting margins */
}

img {
    border-radius: 8px;/* Rounds the corners of the images */
    box-shadow: 0 4px 8px rgba(116, 157, 223, 0.1);/* Adds a subtle shadow below images */
    margin-bottom: 10px; 
    filter: grayscale(80%) brightness(1.1); /* Applies a grayscale effect and slightly brightens the images */
}

.license {
    font-size: 0.8em;
    color: #777;
}